.Footer {
    height: 25px;
    position: fixed;
    bottom: 0;
    z-index: 100;
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: #455A64;
    color: white;
}

.Footer p {
    margin: 0;
    text-align: left;
    vertical-align: center;
    font-weight: normal;
    font-size: 0.9rem;
    word-wrap: normal;
}

@media screen and (max-width: 768px){
    .Footer {
        height: auto;
        padding-left: 0;
        padding-right: 0;
    }

    .Footer p{
        width: 60%;
        margin: 0 auto;
        text-align: center;
    }
}
